*, *::before, *::after{
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    background-color: #FFF8F0;
}

h1 {
    font-family: 'Pangolin', cursive;
    background-color: #FF8811;
    border-radius: 20px;
    padding: 10px 50px;
    text-align: center;
    display: inline-block;
}

img {
   border-radius: 20px;
}

.header-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.outer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 50px;
    background-color: #F4D06F;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.card:hover {
    background-color: #9DD9D2;
}

.item-data, .item-header, .item-img {
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.item-img {
    height: 300px;
}

