*, *::before, *::after{
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

h1 {
    font-family: 'Pangolin', cursive;
    background-color: #FF8811;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

.header-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}


